.footer-top {
    display: grid;
    grid-template-columns: 1fr 399px 1fr;
    grid-template-rows: 102px 1fr;
    margin: 0 0 48px 0;
    width: 100%;
}

.footer-top__center {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    flex-direction: column;
    
}

.footer-top__logo {
    text-align: center;
    margin: 0 0 40px 0;
}

.footer-top__left {
    grid-row: 1 / 2;
    max-width: 250px;
}

.footer-top__left-text {
    font-family: "Foros", "Arial", sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    margin: 0 0 12px 0;
    padding: 0;
}

.adress-text {
    font-family: "Foros", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
    font-style: normal;
    margin: 0 0 12px 0;
    padding: 0;
}

.footer-top__left-link {
    font-family: "Foros", "Arial", sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: underline;
}

.footer-top__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.footer-top__right-mail {
    text-decoration: underline;
}

