.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;
    gap: 73px;
    justify-content: center;
    align-items: center;
}