.footer-top {
    display: grid;
    grid-template-columns: 280px 1fr 280px;
    width: 100%;
}

.footer-top__center {
    display: flex;
    flex-direction: column;
}

.footer-top__logo {
    text-align: center;
    margin: 0 0 29px 0;
}

.footer-top__left {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.footer-top__left-text {
    font-family: "Foros", "Arial", sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    margin: 0;
}

.adress-text {
    font-family: "Foros", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
    font-style: normal;
    margin: 0 0 12px 0;
    padding: 0;
}

.footer-top__left-link {
    font-family: "Foros", "Arial", sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: underline;
}

.footer-top__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 56px;
}

.footer-top__right-mail {
    text-decoration: underline;
}

