.hero {

    background-color: #3C52E6;
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    background-image: url("/images/hero-image.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    min-height: calc(100vh - 80px);
    padding: 20px;
}

.hero__content {
    width: 480px;
    align-self: center;

}

.hero__title {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 70px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 32px 0;
    padding: 0;
    text-align: left;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 60px 0;
}

.hero__list {
    margin: 0;
    padding: 0;
}

.hero__info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 110px;
    height: 110px;
    border-radius: 8px;
    text-align: center;
    margin: 0;
    padding: 12px;
}

.hero__info-text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #3C52E6;
}

.hero__letter {
    font-size: 44px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: -0.1em;
    margin: 0 3px 0 0;
}


.hero__button {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    padding: 14px 28px;
    background-color: #23252E;
    border: 0;
    cursor: pointer;
}